extends ../layouts/default


block intro
	h1 Intro


block content
	.row: .jumbotron
		img(src='/images/logo.svg', width='160')
		p This is your new <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a> website.
		p It includes the latest versions of
			| <a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
			| and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
		p Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.
		hr
		if user && user.canAccessKeystone
			p
				a(href='/keystone').button.large.button-primary Open the Admin UI
		else
			p We have created a default Admin user for you with the email <strong>clouis.allizard@gmail.com</strong> and the password <strong>admin</strong>.
			p
				a(href='/keystone/signin', style='margin-right: 10px').button.large.button-primary Sign in
				|  to use the Admin UI.
