//- HEADER
.container

	//- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
	//- ... or completely change this header to suit your design.
	nav.top-bar(data-topbar='', role='navigation')
		ul.title-area
			li.name
				h1
					a(href='/') Accueil
			li.toggle-topbar.menu-icon
				a(href='#')
					span Menu
		section.top-bar-section
			ul.right
				each link in navLinks
					li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label	
				if user
					if user.canAccessKeystone
						li: a(href='/keystone') Open Keystone
					li: a(href='/keystone/signout') Sign Out
				else
					li: a(href='/keystone/signin') Sign In	